.hero {
  background: #111;
  color: white;
  padding: 8rem 2rem 4rem;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text span {
  color: #922cb1;
}

.hero-buttons {
  margin-top: 1.5rem;
}

.btn-start {
  background: #922cb1;
  border: none;
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
  border-radius: 30px;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
}

.hero-cards {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.card-scroll {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 3rem;
}

.card-scroll::-webkit-scrollbar {
  display: none;
}

.hero-card {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.hero-card:hover {
  transform: scale(1.05);
}

.scroll-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-icon.left {
  left: 15px;
}

.scroll-icon.right {
  right: 15px;
}

