
.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: white;
  transition: color 0.3s;
}

.my-navbar .nav-link:hover,
.my-navbar .navbar-brand:hover{
    color: #8623bb;
}

.my-navbar .nav-link:focus{
  color: #fff !important; 
}

.my-navbar .basic-navbar-nav .search-button
{
    color: #8623bb;
}

.my-navbar .basic-navbar-nav .search-button:hover
{
    background: #8623bb;
}

.my-navbar .navbar-brand .nav-logo
{
    height: 40px;
    width: 70px;
    padding: 0px;
    margin: 10px;
}

.my-navbar .navbar-toggler-icon
{
    background-color: #fff;
}

.me-auto{
    font-size:medium;
}
