.my-navbar {
  background-color: #353232; 
}

.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: white;
  transition: color 0.3s;
}

.my-navbar .nav-link:hover,
.my-navbar .navbar-brand:hover{
    color: #8623bb;
}

.my-navbar .basic-navbar-nav .search-button
{
    color: #8623bb;
}

.my-navbar .basic-navbar-nav .search-button:hover
{
    background: #8623bb;
}

.my-navbar .navbar-brand .nav-logo
{
    height: 80px;
    width: 80px;
    padding: 0px;
    margin: 25px;
}

.my-navbar .navbar-toggler-icon
{
    background-color: #fff;
}