@media (max-width: 768px) {
  .App {
    font-size: 14px;
    padding: 10px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/Bg_img_login.jpg')
  no-repeat;
}

